<template name="move">
  <div class="move">
    <div class="move_title">
      {{title}}
    </div>
    <div class="move_video-wrapper">
      <video class="move_video" src="{{video_path}}">
        It appears your browser can't play videos
      </video>
      <div class="move_video-overlay move_video-overlay-question">
        <p class="move_question"></p>
        <button class="btn show-answer">Show answer</button>
      </div>
      <div class="move_video-overlay move_video-overlay-answer">
        <p class="move_answer"></p>
        <button class="btn next-question">Next question</button>
      </div>
      <div class="move_video-overlay move_video-overlay-done">
        <p>
          You're done!
          <a href="{{pathFor 'home'}}">
            Go and study another move!
          </a>
        </p>
      </div>
    </div>
  </div>
</template>
