.move_video-wrapper {
  position: relative;
  max-width: 480px;
  max-height: 360px;
}

.move_video {
  width: 100%;
  max-width: 480px;
}

.move_video-overlay {
  display: none;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.move_question {
  color: #fff;
}

.move_video-overlay-done {
  color: #fff;
}
