<div>
  <div>
    <a href="/moves/admin">Back</a>
  </div>
  <h1>
    {{move.title}}
  </h1>
  <button ng-click="deleteMove(move)">Delete</button>

  <youtube-video class="move_video" video-id="videoId" player-vars="playerVars"></youtube-video>

  <h2>New flash card</h2>

  <form>
    <div class="form-group">
      <label for="question_text">Question</label>
      <input class="form-control" ng-model="newFlashCard.question_text" type="text" id="question_text"/>
    </div>
    <div class="form-group">
      <label for="answer_text">Answer</label>
      <input class="form-control" ng-model="newFlashCard.answer_text" type="text" id="answer_text"/>
    </div>
    <div class="form-group">
      <label for="question_video_start">Question video start</label>
      <input class="form-control" ng-model="newFlashCard.question_video_start" type="text" id="question_video_start"/>
      <button ng-click="copyFromVideo('question_video_start')">Take from video</button>
    </div>
    <div class="form-group">
      <label for="question_video_start">Question video end</label>
      <input class="form-control" ng-model="newFlashCard.question_video_end" type="text" id="question_video_end"/>
      <button ng-click="copyFromVideo('question_video_end')">Take from video</button>
    </div>
    <div class="form-group">
      <label for="question_video_start">Answer video end</label>
      <input class="form-control" ng-model="newFlashCard.answer_video_end" type="text" id="answer_video_end"/>
      <button ng-click="copyFromVideo('answer_video_end')">Take from video</button>
    </div>
    <button ng-click="save()">Save</button>
  </form>
</div>

<table class="table table-striped">
  <tr>
    <th>Q start</th>
    <th>Q end</th>
    <th>A end</th>
    <th>Question</th>
    <th>Answer</th>
    <th>Actions</th>
  </tr>
  <tr ng-repeat="flashCard in flashCards">
    <td>{{flashCard.question_video_start}}</td>
    <td>{{flashCard.question_video_end}}</td>
    <td>{{flashCard.answer_video_start}}</td>
    <td>{{flashCard.question_text}}</td>
    <td>{{flashCard.answer_text}}</td>
    <td><button ng-click="deleteFlashCard(flashCard)">Delete</button></td>
  </tr>
</table>

<script src="https://www.youtube.com/iframe_api"></script>
