<div class="move">
  <div class="move_title">
    {{move.title}}
  </div>
  <div class="move_video-wrapper">
    <div class="move_video" id="player"></div>
    <div class="move_video-overlay move_video-overlay-question" ng-if="showMoveQuestion">
      <p class="move_question">{{moveQuestionText}}</p>
      <button class="btn btn-primary show-answer" ng-click="playAnswer()">Show answer</button>
    </div>
    <div class="move_video-overlay move_video-overlay-answer" ng-if="showMoveAnswer">
      <p class="move_answer">{{moveAnswerText}}</p>
      <button class="btn next-question" ng-click="showNextQuestion()">Got it!</button>
    </div>
    <div class="move_video-overlay move_video-overlay-done" ng-if="showYoureDone">
      <p>
        You're done!
      </p>
      <a class="btn btn-default" href="/moves">
        Go back and study another move!
      </a>
    </div>
  </div>
</div>

