<div>
  <div>
    <a href="/moves/admin">Back</a>
  </div>
  <h1>
    {{move.title}}
  </h1>
  <button ng-click="deleteMove(move)">Delete</button>

  <youtube-video class="move_video" video-id="videoId" player-vars="playerVars"></youtube-video>

  <h2>New flash card</h2>

  <form>
    <div class="form-group">
      <label for="question_text">Question</label>
      <input class="form-control" ng-model="newFlashCard.question_text" type="text" id="question_text"/>
    </div>
    <div class="form-group">
      <label for="answer_text">Answer</label>
      <input class="form-control" ng-model="newFlashCard.answer_text" type="text" id="answer_text"/>
    </div>
    <div class="form-group">
      <label for="question_video_start">Question video start</label>
      <input class="form-control" ng-model="newFlashCard.question_video_start" type="number" id="question_video_start"/>
    </div>
    <button ng-click="save()">Save</button>
  </form>
</div>

<div ng-repeat="flashCard in flashCards">
  <form>
    <div class="form-group">
      <label for="question_text">Question</label>
      <input class="form-control" type="text" id="question_text" value="{{flashCard.question_text}}"/>
    </div>
    <div class="form-group">
      <label for="answer_text">Answer</label>
      <input class="form-control" type="text" id="answer_text" value="{{flashCard.answer_text}}"/>
    </div>
    <div class="form-group">
      <label for="question_video_start">Question video start</label>
      <input class="form-control" type="number" id="question_video_start" value="{{flashCard.question_video_start}}"/>
    </div>
    <button ng-click="deleteFlashCard(flashCard)">Delete</button>
  </form>
</div>


<script src="https://www.youtube.com/iframe_api"></script>
