<div>
  <div>
    <a href="/moves/admin">Back</a>
  </div>
  <h1>
    {{move.title}}
  </h1>

  <youtube-video class="move_video" video-id="videoId" player-vars="playerVars"></youtube-video>

  <h2>New flash card</h2>

  <form>
    <div class="form-group">
      <label for="question_text">Question</label>
      <input class="form-control" ng-model="newFlashCard.question_text" type="text" id="question_text"/>
    </div>
    <div class="form-group">
      <label for="answer_text">Answer</label>
      <input class="form-control" ng-model="newFlashCard.answer_text" type="text" id="answer_text"/>
    </div>
    <div class="form-group">
      <label for="question_video_start">Question video start</label>
      <input class="form-control" ng-model="newMove.video_id" type="number" id="question_video_start"/>
    </div>
    <button ng-click="save()">Save</button>
  </form>
</div>



<script src="https://www.youtube.com/iframe_api"></script>
