<template name="flashCard">
  <div class="flash-card">
    <h2>
      {{move_name}}
    </h2>
    <p>
      {{question_text}}
    </p>
    <video class="flash-card_video" src="{{video_path}}#t={{question_video_start}},{{question_video_end}}" autoplay muted>
      It appears your browser can't play videos
    </video>
    <div>
      <button class="flash-card_video-play btn">Play again</button>
    </div>

    <button class="btn flash-card_show-answer">Show answer</button>

    <div class="flash-card_answer">
      <p>
        {{answer_text}}
      </p>
      <button>I was right</button>
      <button>I was wrong</button>
    </div>
  </div>
</template>
