<template name="flashCardEdit">
  <form class="form">
    <div class="form-group {{errorClass 'move_name'}}">
      <label class="control-label" for="move_name">Move</label>
      <input class="form-control" name="move_name" type="text" value="{{move_name}}">
      <span class="help-block">{{errorMessage 'move_name'}}</span>
    </div>
    <div class="form-group {{errorClass 'video_path'}}">
      <label class="control-label" for="video_path">Video path</label>
      <input class="form-control" name="video_path" type="text" value="{{video_path}}">
      <span class="help-block">{{errorMessage 'video_path'}}</span>
    </div>
    <div class="form-group {{errorClass 'question_text'}}">
      <label class="control-label" for="question_text">Question text</label>
      <input class="form-control" name="question_text" type="text" value="{{question_text}}">
      <span class="help-block">{{errorMessage 'question_text'}}</span>
    </div>
    <div class="form-group {{errorClass 'question_video_start'}}">
      <label class="control-label" for="question_video_start">Question video start</label>
      <input class="form-control" name="question_video_start" type="text" value="{{question_video_start}}">
      <span class="help-block">{{errorMessage 'question_video_start'}}</span>
    </div>
    <div class="form-group {{errorClass 'question_video_end'}}">
      <label class="control-label" for="question_video_end">Question video end</label>
      <input class="form-control" name="question_video_end" type="text" value="{{question_video_end}}">
      <span class="help-block">{{errorMessage 'question_video_end'}}</span>
    </div>
    <div class="form-group {{errorClass 'answer_video_end'}}">
      <label class="control-label" for="answer_video_end">Answer video end</label>
      <input class="form-control" name="answer_video_end" type="text" value="{{answer_video_end}}">
      <span class="help-block">{{errorMessage 'answer_video_end'}}</span>
    </div>
    <div class="form-group {{errorClass 'answer_text'}}">
      <label class="control-label" for="answer_text">Answer text</label>
      <input class="form-control" name="answer_text" type="text" value="{{answer_text}}">
      <span class="help-block">{{errorMessage 'answer_text'}}</span>
    </div>

    <input class="btn btn-primary" type="submit" value="Save">
  </form>
</template>
